#set($layout="sys/layout.vm")

#set($page_title="用户管理")
#set($selected_menu_id="menu_sys_dept_user")



<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/sys/index.html">首页</a>
            </li>

            <li class="active">用户管理</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>用户管理  </h1>
        </div>

        <div class="row">
            <div class="col-lg-2" style="padding-right: 0px;margin-right: 0px;">
                <input type="hidden" id="deptId" value="-1"/>

                <div id="tree1" class="ztree table-bordered" style="padding: 5px 4px;"></div>
            </div>
            <div class="col-lg-10">
                <div class="input-group col-lg-5" style="padding: 0px;margin: 0px;">
                    <input type="text" class="form-control search-query" id="keyword" name="keyword"  placeholder="账号/姓名/邮箱/手机">
                    <span class="input-group-btn">
                        <button type="button" id="btn-search" class="btn btn-purple btn-sm">
                            搜索 <i class="icon-search icon-on-right bigger-110"></i>
                        </button>
					</span>
                </div>

                <div class=" col-lg-7 text-right" style="padding-right: 0px; margin-right: -12px;">
                    <a id="btn-add" class="btn btn-sm btn-primary" href="#"><i class="icon-plus bigger-125"></i>添加用户  </a>
                    <button id="btn-delete" class="btn btn-danger btn-sm"  ><i class="icon-trash bigger-125"></i>批量删除  </button>
                </div>

                <hr/>

                <table id="grid-table" class="col-lg-12 table table-striped table-bordered table-hover"></table>
                <div id="grid-pager"></div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div><!-- /.main-content -->

<script type="application/javascript" src="/statics/pages/sys/dept/user/list.js?_v=${staticVersion}"></script>